<% content_for :title, "Editing product group" %>

<h1>Editing product group</h1>

<%= render "form", product_group: @product_group %>

<br>

<div>
  <%= link_to "Show this product group", @product_group %> |
  <%= link_to "Back to product groups", product_groups_path %>
</div>
