<% content_for :title, "New product group" %>

<h1>New product group</h1>

<%= render "form", product_group: @product_group %>

<br>

<div>
  <%= link_to "Back to product groups", product_groups_path %>
</div>
